* {
	margin: 0;
	padding: 0;
}

body {
	margin-top: 70px !important;
}

ul {
	list-style-type: none !important;
}

li.mypanel::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	border-bottom: 2px solid #ffffff;
	transition: 0.2s all linear;
}

li.mypanel:hover::before {
	width: 100%;
	left: 0;
}
