<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    {% block head_extrends %}{% endblock %}
</head>
<body>
<div class="navbar  navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="container-header">
            <a href="/" class="navbar-brand">
                个人博客网站
            </a>
            <button data-target="#navbar-collapse" class="navbar-toggle collapsed" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav blogs">
                <li class="{% block nav_home_active %}{% endblock %}"><a href="/">首页</a></li>
                <li class="{% block nav_blog_active %}{% endblock %}"><a href="/blog">博客</a></li>
            </ul>
        </div>
    </div>
</div>

{% block content %}{% endblock %}


</body>
</html>