<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="Shortcut Icon" href="/static/favicon.ico"/>


    <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>

    {% block head_extrends %}{% endblock %}
</head>

<body>

<div class="navbar  navbar-fixed-top navbar-inverse "  role="navigation">
    <div class="container-fluid">
        <div class="container-header">
            <a href="/" class="navbar-brand">
                My blog
            </a>
            <button data-target="#navbar-collapse" class="navbar-toggle collapsed" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class=" navbar-collapse" id="navbar-collapse" >
            <ul class="nav navbar-nav blogs" >
                <li class="mypanel "><a href="/"><p class="glyphicon glyphicon-home"></p> Home</a></li>
                <li class="mypanel"><a href="/blog"><p class="glyphicon glyphicon-book"></p> Blogs</a></li>
                <li class="mypanel"><a href="/tag"><p class="glyphicon glyphicon-cloud"></p> Tagcloud</a></li>
                <li class="mypanel"><a href="/contact"><p class="glyphicon glyphicon-user"></p> Profile</a></li>
            </ul>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
{% block script_extends %}{% endblock %}
</body>

</html>