{% extends 'base.html' %}
{% block title %}我的网站{% endblock %}
{% block nav_blog_active %}active{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for blog in blogs %}
                    <a href="/blog/{{ blog.pk }}">
                        <h3>{{ blog.title }}</h3>
                    </a>
                    <p>{{ blog.content|truncatechars:30 }}</p>
                {% empty %}
                    <p>------暂无博客，敬请期待------</p>
                {% endfor %}
                <p>一共有{{ blogs|length }}篇博客</p>

            </div>
            <div class="col-md-4">
                <h4>博客分类</h4>
                <ur>
                    {% for blog_type in blog_types %}
                        <li>
                            <a href="/blog/type/{{ blog_type.id }}">{{ blog_type.type_name }}</a>
                        </li>
                    {% empty %}
                        <li>暂无分类</li>
                    {% endfor %}
                </ur>
            </div>
        </div>
    </div>
{% endblock %}
