{% extends 'base.html' %}
{% block title %}
    Profile
{% endblock %}
{% block head_extrends %}

{% endblock %}
{% block nav_contact_active %}active{% endblock %}
{% block content %}
    <h2 align="center" style="font-family: 'Calisto MT'">This is a blog that shares technology and life.</h2>
    <img src="/static/head.png" alt="" width="10%" height="10%" style="margin: 1em 1em 1em 45%;">
    <div class="id" style="font-family: 'Calisto MT'">
        <h4 align="center"><b>Nickname:</b>aper</h4>
        <h4 align="center"><b>Chinese name:</b>刘鑫</h4>
        <h4 align="center"><b>Interests:</b>ML, DL and HIFI</h4>
        <h4 align="center"><b>Education experience:</b>Wuhan University, 2016-now</h4>
        <h4 align="center"><b>Skills:</b>Python, C++, HTML5 & CSS and little ML</h4>
        <br>
        <h4 align="center"><b>Contacts:</b></h4>
        <h4 align="center"><b>Email:</b>lxsdwlhh@gmail.com</h4>
        <h4 align="center"><b>Github:</b>github.com/sevenaper</h4>
        <h4 align="center"><b>Zhihu:</b>zhihu.com/people/aperrrrrrr</h4>
    </div>
    <p style="font-family: 'Calisto MT'" align="center">Made by aper with ❤️</p>
{% endblock %}