{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block head_extrends %}
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/slogan.css">
    <link rel="stylesheet" href="/static/home.css">

    <script src="/static/jquery-1.12.4.min.js"></script>
    <script src="/static/type.js"></script>
{% endblock %}
{% block content %}
    <div class="home">
        <div id="slogan" data-text="I'am aper"
             style="font-family: Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace">
        </div>
        <h1 align="center" style="font-size: 46px; font-family: Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace">Welcome to my blog</h1>
    </div>
{% endblock %}
